*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: #C0C0C0;
}
html {
    box-sizing: border-box;
  }
  
  *, *::after, *::before {
    box-sizing: inherit;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
    outline: none;
  }
  
  body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.75;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
  }

  /* Ahora se introducirá el estilo del menú desplegable */
  
  .menu {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transition: transform 250ms ease;
    cursor: pointer;
    z-index: 200;
  }

  .menu span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: #444;
    float: left;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;
  }

  .menu span:nth-of-type(1) {
    transform: translateY(-5px);
  }
  
  .menu span:nth-of-type(3) {
    transform: translateY(5px);
  }
  
  #menu {
    display: none;
  }

  #menu:checked ~ .menu {
    background-color: transparent;
    transform: rotate(360deg);
    transition: transform 250ms ease;
  }

  #menu:checked ~ .menu span {
    background-color: white;
    transition: transform 250ms ease;
  }

  #menu:checked ~ .menu span:nth-of-type(1) {
    transform: translateY(1px) rotate(45deg);
  }

  #menu:checked ~ .menu span:nth-of-type(2) {
    display: none;
  }

  #menu:checked ~ .menu span:nth-of-type(3) {
    transform: translateY(-1px) rotate(-45deg);
  }

  #menu:checked ~ .nav {
    left: 0px;
    transition: left 500ms ease;
  }

  #menu:checked ~ main {
    transform: translateX(250px);
    transition: transform 500ms ease;
  }
  
  /* Hasta aqui llega el estilo del menú desplegable */

  /* Ahora introducimos la barra de navegación, que se encuentra dentro del menú desplegable */

  .nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #444;
    transition: left 500ms ease; /* Este es el tiempo de transición que tiene el fondo de la navbar */
    z-index: 0;
    overflow: auto;
  }

  .nav ul {
    position: relative;
    list-style-type: none;
    margin: 100px 0;
    padding: 0;
  }

  .nav ul li {
    position: relative;
    display: block;
    border-bottom: 5px solid white;
  }

  .nav ul li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav ul li a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 250ms ease;
    z-index: -1;
  }

  .nav ul li a:hover {
    color: #444;
  }
  
  .nav ul li a:hover:before {
    width: 100%;
    height: 100%;
    background-color: white;
    transition: width 250ms ease;
  }
  
  .container {
    width: 75%;
    margin: 0 auto;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    text-align: justify;
    height: 100%;
  }
  
  main {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translateX(0px);
    transition: transform 500ms ease;
    z-index: 0;
  }
  
  main header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
  }

  main header h1 {
    color: #ccc;
    z-index: 3;
  }
  
  main section {
    position: relative;
    display: block;
    margin: 0;
    padding: 50px 0;
    background-image: url(../fondo2.jpg);
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
  }

  main section p {
    margin-bottom: 30px;
  }

  main .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #444;
    background-image: url(http://www.ieslosmanantiales.es/modules/mod_amazingslider_1/tmpl/images/DSC_0004.JPG);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
  }

  main .img h1 {
    color: rgba(255, 255, 255, 0.2);
  }
  

  h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 47, 0);
    text-align: center;
  }

  a, a:hover, a:focus{
    text-decoration: none;
    color: rgb(133 255 0);
  }
