

body {
    color: #d3d3d3;
}


#contenido {
    background-color: rgb(143, 247, 228);
    width: 75%;
    text-align: center;
    margin: 0 auto;
}


h1 {
    font-family: Verdana;
    font-size: 24px;
    color: red;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-family: Comic;
    font-size: 18px;
    color: navy;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    font-family: Verdana;
    font-size: 16px;
    color: gray;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}