fieldset{
    margin: 3%;
    background-color: antiquewhite;
}


.botonej2{
    background-color: grey;
}

body{
    background-color: beige;
}

legend{
    font-size: large;
    color: rgb(21, 99, 98);
}