h1 {
    color: black;
    font-family: fantasy;
    font-size: xx-large;
}
h2 {
    color:rgb(21, 147, 214);
     font-family:serif;
      font-size:x-large 
}
p {
    color: gray;
    font-family:Verdana;
    font-size:medium"
}