p{
    color: #FF6600;
    margin-left: 50px;
    padding-left: 25px;
    border-left: 25px solid #BD8100;
}


.pagestyle{
    font-family: 'Helvetica Neue', Arial, Helvetica;
    font-size: 18px;
    color: #BD8100;
    width: 900px;
    margin: 0 auto;
}


li{
    list-style-image: url(./imagenes/css.png);
    margin-left: 150px;
}